	body {
		background-color:lightblue;
	}
	img {
		display:block;
		width:50%;
		height:50%;
		
	}
	img:hover {
		background-color:lightgrey;
	}
	h1 {
		color:blue;
	}
	th, td {
		border-bottom:1px solid black;
	}
	td:hover {
		background-color:lightgreen;
	}
	tr:nth-child(odd) {
		background-color:lightgray;
	}
	tr:nth-child(even) {
		background-color:white;
	}
	.regular {
		font-size:100%;
	}
	.medium {
		font-size:150%;
	}
	.red {
		color:red;
	}
	.green {
		color:green;
	}
	.blue {
		color:blue;
	}
	.orange {
		color:orange;
	}
	.lgraybg {
		background-color:lightgray;
	}
	#para2 {
		background-color:lightcyan;
	}
	p:hover {
		font-size:150%;
		background-color:yellow;
	}